
/* Extra small devices (portrait phones, less than 576px)
No media query for `xs` since this is the default in Bootstrap */
body {
    background: url('../images/background.jpg') no-repeat center fixed;
    background-size: cover;
}

a,a:hover {
    color: black;
    text-decoration: none;
}

.navbar-nav{
    cursor:pointer;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    outline: none;
}

.navbar-logo {
    height: auto;
    width: 6rem;
}

.title {
    font-size: 1rem;
}

.map path {
    fill:#415F77;
    stroke:#769cb5;
    stroke-width:1px;
    transition:fill .3s
}

.antenna path:hover {
    cursor: pointer;
    fill:#FC5050
}

.logo {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.card {
    border: none;
}

.icon {
    width: 1.55rem;
    height: auto;
}

.fs-12 {
    font-size: 1.2rem;
}

.w-fc {
    width: fit-content;
}

.center-div {
    margin-left: auto;
    margin-right: auto;
}

.invisible-div {
    padding-top: 6rem;
    display:none;
}

input[type="radio"]{
    display: none!important;
}

input:checked[type="radio"] + label{
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.menu-button{
    width: 150px;
    text-transform: uppercase;
}

.menu1:checked ~ .menu1 {
    display: block!important;
}
.menu2:checked ~ .menu2 {
    display: block!important;
}

.menu3:checked ~ .menu3 {
    display: block!important;
}

.menu4:checked ~ .menu4 {
    display: block!important;
}

.menu5:checked ~ .menu5 {
    display: block!important;
}

.menu1-1:checked ~ .menu1-1 {
    display: block!important;
}

.menu1-2:checked ~ .menu1-2 {
    display: block!important;
}

.menu2-1:checked ~ .menu2-1 {
    display: block!important;
}

.menu2-2:checked ~ .menu2-2 {
    display: block!important;
}

.footer {
    background-color: white;
    position: fixed;
    width: 100%;
    bottom:0;
}

.partner-icon {
    width: 7rem;
    height: auto;
}

.legal-notice {
    cursor: pointer;
}

.legal-notice:hover {
    text-decoration: underline !important;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .title {
        font-size: 1.5rem;
    }
}
